<h2>CRUD Operation</h2>
<form (ngSubmit)="addUser()" #userForm="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="currentUser.name" name="name" required>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" class="form-control" [(ngModel)]="currentUser.email" name="email" required>
  </div>

  <button type="submit" class="btn btn-primary btn-lg" [disabled]="userForm.invalid">{{ isEditMode ? 'Update' : 'Add' }}</button>
  
</form>

<!-- Show All Users Button -->
<div class="container mt-4">
  <button class="btn btn-secondary mb-3" (click)="toggleShowUsers()">
    {{ showUsers ? 'Hide All Users' : 'Show All Users' }}
  </button>

  <h2 class="text-center mb-4" *ngIf="showUsers">All Users</h2>
  <ul class="list-group" *ngIf="showUsers">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of users">
      {{ user.name }} - {{ user.email }}
      <div>
        <button class="btn btn-warning btn-sm me-2" (click)="editUser(user)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
